<div class="main-container">
    <mat-label>Add New Item</mat-label>
    <br><br>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="newItem.description" ></textarea>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Due date</mat-label>
        <input matInput [(ngModel)]="newItem.dueDate" [matDatepicker]="picker">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
    <br><br><br>
    <button mat-raised-button (click)="saveItem('cancel')">Cancel</button>
    <button mat-raised-button (click)="saveItem('save')" class="submit" color="primary">Save</button>
</div>